.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.card{
    aspect-ratio: 3/4;
    width: 100%;
    background-color: #333;
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d; /* preservar um corpotamento de 3d */
}

.face{
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid rgba(15, 116, 196, 1);
    border-radius: 5px;
}

.front{
    background: url('../images/grimmjow.png');
    background-color: rgba(15, 116, 196, 1);
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
}

.back{
    background: url('../images/Bleachanime.png');
    backface-visibility: hidden; /* escoder a parte de tras do elemento */
    background-size: cover;
    background-position: center;
}

.card:hover{
    transform: rotateY(180deg);
}